.faqPage {
    background-color: #f8f8f8;
    h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #48484a;
        padding-top: 32px;
        padding-bottom: 20px;
        letter-spacing: 1px;
    }
    .collapse {
        margin-bottom: 22px;
    }
}
